body{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: center;
}
.msg{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border:2px;
    background-image: linear-gradient(to right,rgb(245 8 85 / 66%),rgb(240 13 7 / 73%));
    margin-left: 25%;
    width: 50%;
    padding: 10px;
}
.hr{
    width: 100%;
}
h1{
    margin: 0;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(18, 17, 17);
    width: 50vh;
    background: none;

  }
  input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(18, 17, 17);
    width: 50vh;
    background: none;

  }
  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(18, 17, 17);
    width: 50vh;
    background: none;

  }
 
.words{
display: flex;
flex-direction: column;
align-items: center;
}
#word{
    font-size: 20px;
}


#new_captch{
    width:25vh;
}
button{
    height: 5vh;
    width: 40vh;
    border-radius: 5px solid green;
    background-color: #789e9dfa;
    font-size: 20px;

}
.btn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
button:hover{
    background-color: rgb(15, 94, 30);
    cursor: pointer;
}
 button{
 border: none;
 font-size: 16px;
}
